/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

$base-color: lighten(#16f291, 10%);
$background-color: lighten(yellow, 40%);
$font-family: dynamic(arial);
$checkboxfield-checkbox-color:lighten(red, 10%);
